body
{
	background-color:#222;
	margin:0px;
	padding:0px;
}
#liveFeed
{
	border:3px solid #d3d3d3;
	margin:0px auto;
	display:block;
	/*margin-top:50px;*/
	box-shadow:0px 0 100px 50px rgba(0,0,0,.5);
	background-color:#EEE;
	position: relative;
	top:50px;
}

#delayed
{
	display:none;
	width:80%;
}

button
{
	width:20%;
	padding:10px;
	margin-bottom:3px;
}

input
{
	width:20%;
	margin:0px;
}
#buttons
{
width:640px;
margin:0px auto;
margin-top:50px;
text-align: center;
position: relative;
top:-433px;
}

svg
{

	/*background-color: teal;*/
	display:block;
	width:640px;
	position: relative;
	top:-433px;
	margin:0px auto;
}

#topLayer
{
	display: block;
	background-color: red;
	width:640px;
	margin: 0px auto;
	position: relative;
	top:-433px;
}